{% extends 'shop/base.html' %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md12">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-sm-6">
                        <input type="search" name="item_name" placeholder="Hledat zboží" class="form-control form-control-borderless">
                    </div>
                        <div class="col-auto">
                            <button class="btn btn-dark" type="submit" >Hledat</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for product in product_objects %}
            <div class="col-sm-2">
                <div class="card">
                    <img src="{{ product.image }}" class="card-img-top">
                    <div class="card-body">
                            <div class="card-title">
                            <a href="/{{ product.id }}" class="text-dark">{{ product.title }}</a>
                            </div>
                            <div class="card-text">
                                {{ product.price }} Kč
                            </div>
                            <button data-product="{{ product.id }}" data-action="add" class="btn atc btn-outline-dark btn-sm add-btn update-cart">Přidat do košíku</button>
                        </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-sm-3 offset-sm-6">
            <ul class="pagination">
                {% if product_objects.has_previous %}
                    <li class="page-item">
                        <a class="btn btn-secondary btn-sm" href="?page={{ product_objects.previous_page_number }}">Předchozí</a>
                    </li>
                {% endif %}

                {% if product_objects.has_next %}
                    <li class="page-item">
                        <a class="btn btn-secondary btn-sm" href="?page={{ product_objects.next_page_number }}">Další</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}







